<main>

    {{!-- Apresentação --}}
    <section class="apresentacao">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6">
                    <h1>Conheça o Hotel...</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <div class="col-md-6">
                    <img src="imagens/apresentacao.png" class="img-fluid">
                </div>

            </div>
        </div>
    </section>

    {{!-- Pacotes --}}
    <section class="pacotes" style="height: 500px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Conheça nossos pacotes</h1>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="imagens/pacotes/1.png">
                        <a href="#" class="btn btn-primary">Pacote de Natal</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="imagens/pacotes/2.png">
                        <a href="#" class="btn btn-primary">Férias em família</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="imagens/pacotes/3.png">
                        <a href="#" class="btn btn-primary">Virada de ano</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>