<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projeto Hotel</title>

        {{!-- Bootstrap --}}
        <link rel='stylesheet' href='css/bootstrap.css'>
        <script src='js/bootstrap.js'></script>

        {{!-- CSS Global --}}
        <link rel='stylesheet' href='estilos/global.css'>
    </head>

    <body>
        {{>topo}}
        {{>banner}}
        {{{body}}}
        {{>rodape}}
    </body>
</html>