<h1>Sobre</h1>

{{#if dados}}
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Valor</th>
            </tr>
        </thead>

        <tbody>
            {{#each dados}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{produto}}</td>
                    <td>{{valor}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p>Não foi possível listar os produtos</p>
{{/if}}