<form action="/cadastrar" method="post" enctype="multipart/form-data">
    <input type="text" name="produto" placeholder="Informe o produto" class="form-control">
    <input type="file" name="imagem" class="form-control">
    <input type="submit" value="Cadastrar produto" class="btn btn-primary">
</form>

<div class="container">
    <div class="row">
        {{#each produtos}}
            <div class="col-4">
                <div class="card">
                    <img src="{{imagem}}">
                    <p>{{produto}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>